version: '3.9'

services:
  postgres:
    container_name: Tmart_postgres_container
    image: postgres:15
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: ${PGDATA}
    volumes:
      - postgres:/data/postgres
    ports:
      - "5432:5432"

  web:
    build: .
    container_name: campmen-web
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: Tmart.settings
    volumes:
      - .:/code
    depends_on:
      - postgres
    ports:
      - "8000:8000"

  nginx:
    image: nginx:latest
    container_name: campmen-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./static:/code/static
      - ./media:/code/media
    depends_on:
      - web
    networks:
      - default

volumes:
  postgres:
